<h1>Join Us!</h1>
<form action="/join" method="POST">
  <label for="email">EMAIL</label>
  <input type="text" placeholder="Enter Email" id="email" name="user[email]"</input>

  <label for="pswd">PASSWORD</label>
  <input type="text" placeholder="Enter Password" id="pswd" name="user[pswd]"</input>
  <br/>
  <label for="fname">First Name</label>
  <input type="text" placeholder="Enter First Name" id="fname" name="user[fname]"</input>

  <label for="lname">Last Name</label>
  <input type="text" placeholder="Enter Last Name" id="lname" name="user[lname]"</input>
  <br/>


<button type="submit" class="signupbtn">Submit</button>
</form>
