<h1>Create Car!</h1>
<form action="/new" method="POST">
  <label for="">MAKE</label>
  <input type="text" placeholder="Enter Make" id="make" name="auto[make]"</input>
  <label for="">MODEL</label>
  <input type="text" placeholder="Enter Model" id="model" name="auto[model]"</input>
  <label for="">YEAR</label>
  <input type="text" placeholder="Enter Year" id="year" name="auto[year]"</input>
  <br/>
  <label for="">MPG</label>
  <input type="text" placeholder="Enter Miles Per Gallon" id="mpg" name="auto[mpg]"</input>
  <label for="">TANK SIZE</label>
  <input type="text" placeholder="Enter Gallons Per Tank" id="tank" name="auto[tank]"</input>
  <label for="">Price Per Gallon Of Gas</label>
  <input type="text" placeholder="Enter Price Per Gallon" id="gas" name="auto[gas]"</input>
  <br/>
<button type="submit" class="signupbtn">Submit</button>
</form>
